@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/opensans.woff") format("woff"),
    url("../fonts/opensans.woff2") format("woff2"),
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/opensansbold.woff") format("woff"),
    url("../fonts/opensansbold.woff2") format("woff2"),
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 300;
  src:
    url("../fonts/opensanslight.woff") format("woff"),
    url("../fonts/opensanslight.woff2") format("woff2"),
}

body {
  width: 320px;
  padding: 0;
  margin: 0 auto;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-family: "OpenSans", "Arial", sans-serif;
  color: #283645;
  font-style: normal;
  background-color: #fff;
}

/*
img {
  max-width: 100%;
  height: auto;
}
*/

.visually-hidden {
  position: absolute;
  
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  
  border: 0;
  
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  body {
    width: 660px;
  }

  .container {
    width: 620px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  body {
    width: 1200px;
    font-size: 18px;
    line-height: 30px;
  }

  .container {
    width: 940px;
    margin: 0 auto;
  }
}
