.btn {
  display: block;
  width: 280px;
  padding: 13px 0;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  color: #ffffff;
  background: none;
  border-radius: 40px;
  border: 3px solid #ffffff;
}

.filter-btn--upload {
  color: #d22856;
  border-color: #d22856;
  margin-bottom: 15px;
}

.filter-btn--reset {
  color: #283645;
  border-color: #283645;
  opacity: 0.1;
}
