.container() {
  width: 280px;
  margin: 0 auto;
}

.filter-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  padding-bottom: 27px;
  background-color: #f2f2f2;
}

.filter {
  display: flex;
  flex-direction: column;
  
  &__slogan {
    margin-top: 20px;
    margin-bottom: 42px;

    text-align: center;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
  }
}

.filter-form {
  display: flex;
  flex-direction: column;
}

.filter-pict {
  .container();
}

.range-filter {
    display: flex;
    justify-content: center;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 38px;
    padding-bottom: 30px;
    list-style-type: none;
    border-bottom: 1px solid #ebecec;
  

    &__a:last-child {
      margin-right: -10px;
    }

    &__a {
      display: inline-block;

      width: 60px;
      height: 60px;

      text-indent: -9999px;

      &--cro {
        margin-left: 3px;
        background: url("../img/icon-editor-crop.svg") no-repeat 0% 50%;
      }

      &--fil {
        margin-left: 20px;
        background: url("../img/icon-editor-fill.svg") no-repeat 0% 50%;
      }

      &--con {
        margin-left: 27px;
        background: url("../img/icon-editor-contrast.svg") no-repeat 0% 50%;
      }
    }
  }

.filter-btn {
  .container();
  padding: 15px 0;
  margin-bottom: 14px;
}

@media (min-width: 768px) {
  .filter {
    margin-top: 27px;
    
    &__slogan {
      margin-bottom: 69px;
      font-size: 18px;
      line-height: 30px;
    }
  }

  .filter-wrapper {
    flex-direction: row;
    width: 660px;
    min-height: 455px;
    padding-top: 55px;
    padding-bottom: 0px;
  }

  .filter-pict {
    width: 300px;
    height: 400px;
    margin-left: 20px;
    margin-right: 48px;
  }

  .filter form {
  }

  .range-filter {
    flex-direction: column;
    justify-content: flex-start;
    height: 200px;
    margin-top: 6px;
    margin-bottom: 30px;
    border: none;

    &__a {
      height: 70px;
      width: 275px;
      margin-left: 0;
      border-bottom: 1px solid #ebecec;
      
      &--cro {
        margin-top: -20px;
        margin-bottom: 30px;
        background-size: 25px 25px;
      }
      
      &--fil {
        margin-top: -25px;
        background-size: 22px 22px;
      }
      
      &--con {
        margin-top: -5px;
        margin-left: 4px;
        background-size: 15px 15px;
        border: none;
      }
    }
  }
  
  .filter-btn {
    width: 260px;
    margin-left: 0;
    
    &--upload {
    }
    
    &--reset {
      margin-top: 12px;
    }
  }
}

@media (min-width: 1200px) {
  .filter {
    margin-top: -10px;
    margin-bottom: 100px;
    
    &__slogan {
      margin-bottom: 65px;
    }
  }
  .filter-wrapper {
    width: 880px;
    margin-left: 130px;
    padding-left: 60px;
  }
  
  .filter form {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 43px;
  }
  
  .range-filter {
    margin-bottom: 70px;
    
    &__a {
      height: 70px;
      width: 410px;
      margin-left: 0px;
      border-bottom: 1px solid #ebecec;
      
      &--cro {
        margin-top: -20px;
        margin-bottom: 30px;
        background-size: 45px 45px;
      }
      
      &--fil {
        margin-top: -25px;
        margin-left: 2px;
        background-size: 45px 45px;
      }
      
      &--con {
        margin-top: -5px;
        margin-left: 7px;
        background-size: 33px 33px;
      }
    }
  }
  
  .filter-btn{
    width: 183px;
    height: 55px;
    padding: 16px 0;
    
    &--upload {
      margin-right: 45px;
    }
    
    &--reset {
      margin-top: 0;
    }
  }
}