.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  min-height: 200px;
  margin-top: 40px;
  margin-bottom: 40px;

  &--index {
    display: none;
  }

  &__copiright-link {
    
    .htmlacademy {
      width: 40px;
      fill: #d22856;
    }
    
    .htmlacademy:hover {
      fill: #283645;
    }
    
    .htmlacademy:active {
      fill-opacity: 0.3;
    }
  }
}

.footer__item {

  &--logo {
    width: 150px;
    height: 50px;
  }

  &--social {
    width: 190px;
  }

  &--copiright {
    display: flex;
    align-items: center;
    width: 140px;
    height: 35px;

    b {
      margin-right: 10px;
    }
  }
}

.social-link {
  display: inline-block;
  vertical-align: middle;
  width: 45px;
  height: 45px;
  margin-right: 10px;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;

  &:last-child {
    margin-right: 0;
  }

  &--tt {
    background:  url("../img/icon-twitter.svg") no-repeat 50% 50%;
  }

  &--fb {
    background:  url("../img/icon-facebook.svg") no-repeat 50% 50%;
  }

  &--yo {
    background:  url("../img/icon-youtube.svg") no-repeat 52% 48%;
  }
  
  &:hover {
    border-color: rgba(40, 54, 69, 1);
  }
  
  &:active {
    border-color: rgba(40, 54, 69, 1);
    opacity: 0.1;
  }
}

@media (min-width: 768px) {
  .container() {
    width: 620px;
    margin: 0 auto;
  }

  .footer {
    .container();
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 120px;
    
    &--index {
      display: flex;
    }
  }
}

@media (min-width: 1200px) {
  .footer {
    width: 960px;
    min-height: 60px;
    margin-bottom: 80px;
  }

  .footer__item--logo {
    margin-left: 10px;
    margin-bottom: 5px;
  }

  .footer__item--social {
    width: 175px;
    margin-left: 10px;
  }

  .social-link {
    margin-right: 6px;
  }

  .footer__item--copiright {
    width: 175px;
  }
}
