.form fieldset {
  border: none;
}

.form__label {
  font-size: 18;
  font-weight: 400;
}

.form__label--red,
.form__legend {
  margin-bottom: 10px;
  text-align: left;
  text-transform: uppercase;
  color: #d22856;
}

.form__label--red {
  padding-left: 25px;
  margin-top: 25px;
  font-size: 14px;
  display: block;
}

.form__legend {
  text-align: center;
}

.full-name,
.contacts {
  margin-top: 30px;
  margin-bottom: -60px;
}

.full-name input,
.contacts input{
  width: 240px;
  padding: 20px 20px;
  font-size: 18px;
  font-weight: 400;
  color: #283645;
  border: 2px solid #e5e5e5;
}

.attainment,
.which-app {
  margin-top: 30px;
  background-color: #f2f2f2;
}

.attainment legend,
.which-app legend {
  padding-top: 110px;
}

.attainment label,
.which-app label{
  display: block;
  margin: 30px 20px;
}

.attainment input,
.which-app input {
  margin-right: 20px;
}

.contacts {
  margin-bottom: -260px;
}

.emotions {
  margin-top: 40px;
}

.emotions textarea {
  width: 230px;
  min-height: 160px;
  padding: 15px;
  margin: 5px 15px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  border: 2px solid #e5e5e5;
}

.form-btn {
  width: 270px;
  padding: 17px 0;
  margin: 30px 20px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #2aab6d;
  border-radius: 4px;
  outline: none;
}

.form__required {
  text-align: center;
  text-transform: uppercase;

  &--red {
    color: #d22856;
  }
}
