.container() {
  width: 280px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 43px;
  margin-bottom: 43px;

  &__slogan {
    .container();
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
  }

  &__slogan--nomobile {
    display: none;
  }

  fieldset {
    border: none;
  }

  &__label {
    line-height: 30px;
    font-weight: 400;
  }

  &__label--red,
  &__legend {
    text-align: left;
    text-transform: uppercase;
    color: #d22856;
  }

  &__label--red {
    padding-left: 25px;
    margin-top: 18px;
    margin-bottom: 6px;
    font-size: 14px;
    display: block;
  }

  &__legend {
    line-height: 18px;
    text-align: center;
  }

  &__required {
    text-align: center;
    text-transform: uppercase;

    &--desk {
      display: none;
    }

    &--red {
      color: #d22856;
    }
  }
}

.full-name__wrapper {
  display: flex;
  flex-direction: column;
}

.full-name {
  .container();
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.full-name input,
.contacts-form input{
  width: 237px;
  padding: 17px 20px;
  font-size: 18px;
  font-weight: 400;
  color: #283645;
  border: 2px solid #e5e5e5;
}

.attainment,
.which-app {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: -60px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #f2f2f2;
}

.attainment legend,
.which-app legend {
  width: 220px;
  margin: 0 auto;
  margin-left: 40px;
  margin-bottom: 43px;
  padding-top: 140px;
}

.attainment label,
.which-app label{
  display: block;
  padding-left: 34px;
  margin-bottom: 52px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.attainment input,
.which-app input {
  margin-right: 20px;
}

.contacts-form {
  .container();
  display: flex;
  flex-direction: column;
  min-height: 255px;
  margin-top: 5px;
  margin-bottom: -35px;

  legend {
    position: absolute;
    visibility: hidden;
  }

  .form_input__wrapper {
    display: flex;
    flex-direction: column;
  }

  label {
    width: 260px;
  }
}

.which-app label {
  margin-bottom: 43px;
}

.emotions {
  display: flex;
  flex-direction: column;
  margin-top: 43px;

  textarea {
    width: 245px;
    min-height: 167px;
    padding: 16px;
    margin: 10px 10px;
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #283645;
    border: 2px solid #e5e5e5;
  }
}

.form-btn {
  width: 280px;
  padding: 17px 0;
  margin: 27px 20px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #2aab6d;
  border-radius: 4px;
  outline: none;
}

@media (min-width: 768px) {
  .container() {
    width: 620px;
    margin: 0 auto;
  }

  .form {
    .container();
    flex-wrap: wrap;
    margin-bottom: 23px;
    margin-top: 90px;

    &__slogan {
      order: -4;
      width: 500px;
      min-height: 80px;
      margin-left: 65px;
      margin-bottom: 57px;
      padding-right: 15px;
      font-size: 18px;
      line-height: 30px;
    }

    &__slogan--nomobile {
      display: block;
    }

    fieldset {
      border: 2px solid #e5e5e5;;
    }
  }

  .full-name {
    order: -3;
    flex-direction: row;
    flex-wrap: wrap;
    width: 620px;
    margin-left: 0;

    &__wrapper {
      flex-direction: row;

      label{
        display: block;
        padding-right: 15px;
        padding-left: 0;
      }

      input {
        flex-grow: 1;
        min-width: 470px;
        margin-bottom: 53px;
      }
    }
  }

  .which-app {
    order: -2;
    width: 600px;
    min-height: 345px;
    margin-top: -33px;
    background-color: #ffffff;

    legend {
      width: 360px;
      padding-top: 40px;
      margin-left: 125px;
      margin-bottom: 49px;
    }

    label {
      padding-left: 63px;
      margin-bottom: 45px;
    }
  }

  .contacts-form {
    order: -1;
    width: 600px;
    min-height: 300px;
    margin-top: 55px;
    margin-left: 0;
    margin-bottom: 73px;

    legend {
      order: -5;
      position: relative;
      visibility: visible;
      width: 265px;
      margin-left: 160px;
    }

    input {
      width: 460px;
      margin-top: 31px;
      margin-left: 47px;
    }

    label {
      margin-top: 13px;
      margin-left: 43px;
      width: 135px;
      margin-bottom: 0px;
    }

    input[type="tel"] {
      order: 0;
    }

    label[for="tel"] {
      order: 1;
    }

    input[type="email"] {
      order: 2;
    }

    label[for="email"] {
      order: 3;
    }
  }

  .attainment {
    width: 600px;
    margin-bottom: 14px;
    background-color: #ffffff;

    legend {
      width: 430px;
      margin-left: 80px;
      margin-bottom: 50px;
      padding-top: 45px;
    }
    label {
      padding-left: 65px;
    }
  }

  .emotions {
    width: 600px;
    min-height: 285px;
    margin-bottom: 35px;

    legend {
      width: 270px;
      margin-left: 165px;
    }

    textarea {
      width: 455px;
      min-height: 160px;
      padding: 15px 20px;
      margin: 30px 50px;
    }
  }

  .form-btn__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
  }

  .form-btn {
    width: 300px;
    padding: 18px 0;
    margin-left: 0;
  }

  .form__required {
    align-self: center;
    text-align: right;

    &--desk {
      display: none;
    }
  }
}

@media (min-width: 1200px) {
  .container() {
    width: 940px;
    margin: 0 auto;
  }

  .form {
    .container();
    flex-direction: row;
    margin-top: 92px;
    margin-bottom: 38px;

    &__slogan {
      width: 760px;
      min-height: 60px;
      margin: auto;
      margin-bottom: 65px;
      padding-right: 0;

      &--nomobile {
        display: inline-block;
      }
    }

    legend {
      font-size: 14px;
      line-height: 30px;
    }
  }

  .full-name {
    flex-direction: column;
    justify-content: space-between;
    width: 435px;
    min-height: 300px;
    margin-top: 20px;

    label {
      min-width: 40px;
    }

    input {
      min-width: 300px;
      margin-bottom: 54px;
    }
  }

  .which-app {
    justify-content: space-between;
    width: 410px;
    min-height: 310px;
    margin: 0;
    margin-bottom: auto;
    margin-left: auto;

    legend {
      width: 370px;
      margin-left: 20px;
      margin-bottom: 45px;
      padding-top: 0;
    }

    label {
      padding-left: 78px;
    }
  }

  .contacts-form {
    flex-direction: row;
    justify-content: space-between;
    min-height: 140px;
    width: 940px;
    margin-top: 0;
    margin-left: 0;
    padding: 30px 60px;
    padding-bottom: 0;

    legend {
      width: 250px;
      margin-left: 285px;
    }

    .form_input__wrapper {
      flex-direction: column;
      width: 380px;
    }

    label {
      margin: 0;
      margin-top: 12px;
    }

    input {
      width: 335px;
      margin: 0;
    }
  }

  .attainment {
    flex-direction: row;
    flex-wrap: wrap;
    width: 940px;
    min-height: 283px;
    margin-left: 0;

    legend {
      margin-bottom: 38px;
      margin-left: 242px;
    }

    label {
      width: 245px;
      padding-left: 52px;
      margin-right: 0;
    }
  }

  .emotions {
    min-height: 205px;
    margin-left: 0;
    margin-top: 40px;
    margin-bottom: 40px;

    legend {
      width: 265px;
      margin-left: 325px;
    }

    textarea {
      width: 770px;
      min-height: 95px;
      margin: 20px 50px;
    }
  }

  .form-btn__wrapper {
    .container();
  }

  .form-btn {
    margin-left: 0;
  }

  .form__required {
    width: 430px;
    margin-left: 190px;
    font-size: 14px;
    line-height: 30px;

    &--desk {
      display: inline-block;
    }
  }
}
