.gallery {
  margin-top: 0px;

  &__slogan {
    margin-bottom: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
  }

  &__item--discr {
    padding: 20px 20px;
    margin-top: -20px;
    margin-bottom: 20px;
    background-color: #f2f2f2;

    .item-text {
      margin-top: -15px;
      margin-bottom: 10px;
    }
  }

  &__like-btn {
    background-color: #ffffff;
    barder: none;
  }

  &__like-number {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    color: #d22856;
  }
}

.item-discr {

  &__author-name{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 700;
  }

  &__time {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
  }
}

@media (min-width: 768px) {
  .gallery {
    margin-top: 75px;

    &__slogan {
      display: block;
      width: 440px;
      margin-bottom: 75px;
      font-size: 18px;
      line-height: 30px;
    }

    &__item {
      display: inline-block;
      vertical-align: top;
      width: 300px;
      
      &--panorama {
        width: 660px;
      }
    }

    &__item--discr {
      position: relative;
      margin-top: -8px;
    }

    .item-text {
      display: block;
      width: 515px;
    }

    &__like-btn {
      position: absolute;
      top: 35px;
      right: 40px;
    }
    
    &__like-number {
      position: absolute;
      top: 35px;
      right: 40px;
    }
  }
}

@media (min-width: 1200px) {
  .gallery {
    
    &__like-btn {
      top: 35px;
      right: 0px;
    }
    
    &__like-number {
      top: 35px;
      right: 240px;
    }
    
    &__slogan {
      width: 590px;
    }
    
    &__item {
      
      .item-text {
          width: 260px;
        }
      
      &--panorama {
        width: 1200px;
        
        .item-text {
          width: 900px;
        }
      }
    }
  }
}