.header {
  display: flex;
  flex-direction: column;

  position: relative;
  min-height: 240px;
  color: #ffffff;
  background-color: #2b3a4a;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;

  &--index {
    min-height: 730px;

    background-image: 
      url("../img/iphone-hand-mobile@1x.png"),
      url("../img/bg-back-mobile@1x.jpg");
    background-position: left 0px bottom 268px, 50%;
    background-size: 258px, cover;
  }

  &__title {
    margin-top: 22px;
    margin-bottom: 85px;

    text-align: center;
    font-size : 24px;
    line-height: 29px;
    font-weight: 300;

    &--form {
      margin-top: 27px;
      margin-bottom: 53px;
    }
  }
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  header {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    
    &--index {
    background:
      url("../img/iphone-hand-mobile@2x.png"),
      url("../img/bg-back-mobile@2x.jpg");
    }
  }
}


@media (min-width: 768px) {
  .header {
    background-image: url("../img/bg-back-tablet@1x.jpg");

    &--index {
      background-image:
        url("../img/iphone-hand-tablet@1x.png"),
        url("../img/bg-back-tablet@1x.jpg");
      background-position:  left -20px bottom 0px, 50% 50%;
      background-size: 700px, cover;
    }

    &__title {
      margin-top: 65px;
      margin-bottom: 140px;
      font-size : 50px;
      line-height: 60px;
      font-weight: 300;

      &--form {
        margin-top: 70px;
        margin-bottom: 79px;;
      }
    }
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    header {
      background-image: url("../img/bg-back-tablet@2x.jpg");

      &--index {
      background-image:
        url("../img/iphone-hand-tablet@2x.png"),
        url("../img/bg-back-tablet@2x.jpg");
      }
    }
  }
}

@media (min-width: 1200px) {
  .header {
    background-image: url("../img/bg-back-desktop@1x.jpg");

    &__title {
      margin-top: 73px;
      margin-bottom: 103px;
      line-height: 70px;
      line-height: 58px;
    }

    &--index {
      width: 100%;
      min-height: 853px;
      margin-bottom: 85px;
      
      background-image:
        url("../img/iphone-hand-desktop@1x.png"),
        url("../img/bg-back-desktop@1x.jpg");
      background-position:  left 145px bottom 0px, 50% 50%;
      background-size: 1050px, cover;
      }
    }
  
  
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    header {
      background-image: url("../img/bg-back-desktop@2x.jpg");

      &--index {
      background-image:
        url("../img/iphone-hand-desktop@2x.png"),
        url("../img/bg-back-desktop@2x.jpg");
      }
    }
  }
}
