.header {
  position: relative;
  top: 243px;
  min-height: 240px;
  margin-bottom: 250px;
  color: #fff;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 0;

  &--index {
    top: 260px;
    min-height: 730px;
    background:url("../img/iphone-hand-mobile@1x.png") no-repeat 0 40%, url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 0;
  }

  &__title {
    text-align: center;
    font-size : 24px;
    font-weight: 300;
    line-height: 30px;
    padding-top: 100px;
  }
}
