.map {
  height: 200px;
  background: 
    /*url("../img/icon-map-marker.svg") no-repeat 50% 60%,*/ url("../img/bg-map-mobile@1x.png") no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .map {
    height: 375px;
    margin-top: -28px;
  }
}

@media (min-width: 1200px) {
  .map {
    height: 500px;
    margin-top: 0px;
    margin-bottom: 80px;
  }
}
