.price {
  position: relative;
  min-height: 470px;
  background-color: #f2f2f2;
  margin-bottom: 40px;

  &__table {
    position: absolute;
    left: -440px;
    width: 1030px;
    margin-top: 85px;
    text-transform: uppercase;
    background-color: #fff;
    border-collapse: collapse;
  }
}

.row__title,
.price__table td {
  padding: 19px 20px;
  border: 2px solid #e5e5e5;
}

.row__title {
  color: #fff;
  background-color: #283645;

  &--hit {
    background: #283645 url("../img/bg-hit.svg") no-repeat;
  }
}

.row__title-name {
  font-size: 18px;
}

.row__title-price {
  font-size: 24px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 5px;
}

.cell__icon {
  display: inline-block;
  width: 245px;
}

.cell__icon--yes {
  background: url("../img/icon-yes.svg") no-repeat 100% 50%;
}

.cell__icon--no {
  background: url("../img/icon-no.svg") no-repeat 100% 50%;
}

@media (min-width: 768px) {
  .price {
    min-height: 380px;
    margin-bottom: 45px;
  }
}

@media (min-width: 1200px) {
  .price {
    min-height: 525px;
    margin-bottom: 70px;
  }
}
