.research {
  display: none;
}

@media (min-width: 768px) {
  .research {
    display: block;
    min-height: 280px;
    margin-bottom: 0;

    &__item {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      width: 330px;

      p {
        margin-top: 10px;
        margin-bottom: 9px;
      }
      a {
        color: #d22856;
      }
    }

    &__item-title {
      margin-top: 40px;
      margin-bottom: 0;

      font-size: 30px;
      line-height: 36px;
      font-weight: 700;

      span {
        display: block;
      }
    }
  }

  .research-wrapper {
    position: relative;
    min-height: 340px;
    background-image: url("../img/icon-editor-diagram-fill.svg"), url("../img/icon-timer.svg");
    background-repeat:  no-repeat, no-repeat;
    background-position:  9% 41%, 5% 0;
    background-size: 200px, 240px;

    &::after {
      content: "24";
      position: absolute;
      top: 140px;
      left: 85px;
      font-size: 96px;
      font-weight: 700;
      color: #d22856;
    }
  }
}

@media (min-width: 1200px) {
  .research {

    &__item {
      width: 530px;
      margin-right: 174px;

      p {
        margin-top: 24px;
        margin-bottom: 30px;
      }
    }

    &__item-title {

      span {
        display: inline-block;
      }
    }
  }

  .research-wrapper {
    min-height: 362px;
    padding-top: 73px;
    background-color: #f2f2f2;
    background-position:  16% 50%, 14% 22%;
    background-size: 255px, 300px;

    &::after {
      top: 195px;
      left: 210px;
      font-size: 120px;
    }
  }
}
