.research {
  display: none;
}
@media (min-width: 660px) {
  .research {
    display: block;
    width: 100%;
    background: #ffffff;
    &__wrapper {
      width: 620px;
      margin: 0 auto;
      padding: 0 20px;
      padding-bottom: 25px;

      display: flex;
      flex-direction: column;
      align-items: flex-end;
      background: #ffffff url(../img/timer-block.png) no-repeat;
      background-size: 238px 276px;
      background-position: 20px 55px;
    }
    &__description {
      width: 310px;
      padding-top: 95px;
      text-align: left;
      h2 {
        margin: 0;
        padding-right: 120px;

        color: @color-b;
        font-size: 30px;
        line-height: 36px;
        font-weight: 700;
      }
      p { margin: 0;
        padding: 10px 0;

        color: @color-p;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
      }
      a {
        font-family: "Open Sans", "Arial", sans-serif;
        color: @color-red;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
      }
    }
  }
}
@media (min-width: 960px) {
  .research {
    background-color: #f2f2f2;
    &__wrapper {
      width: 940px;
      margin: 0 auto;
      padding: 0 10px;

      display: flex;
      flex-direction: column;
      align-items: flex-end;
      background: #f2f2f2 url(../img/timer-block.png) no-repeat;
      background-position: 20px 65px;
    }
    &__description {
      width: 575px;
      padding-top: 155px;
      padding-bottom: 106px;

      text-align: left;
      background-color: #f2f2f2;
      h2 {
        margin: 0;
        padding: 0;

        color: @color-b;
        font-size: 30px;
        line-height: 36px;
        font-weight: 700;
      }
      p {
        margin: 0;
        padding: 20px 0;
        padding-right: 25px;

        color: @color-p;
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
      }
      a {
        display: inline-block;
        padding: 10px 0;
        font-family: "Open Sans", "Arial", sans-serif;
        color: @color-red;
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
      }
    }
  }
}
