.reviews {
  .container();
  margin-bottom: 70px;

  &__list {
    list-style: none;
  }

  &__slide {
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
  }

  &__autor-name {
    font-style: normal;
    font-size: 18px;
    font-weight: 700;

    &--discr {
      display: none;
    }
  }

  p {
    line-height: 30px;
  }
}

@media (min-width: 768px) {
  .container() {
    width: 620px;
    margin: 0 auto;
  }

  .reviews {
    .container();
    margin-top: 17px;
    margin-bottom: 60px;

    &__slide {
    }

    &__autor-name {
      order: 2;
      margin-top: 20px;
      font-size: 20px;
      font-weight: 700;

      &--discr {
        display: block;
        margin-top: 7px;
        font-size: 14px;
        font-weight: 400;
      }
    }

    p {
      font-size: 18px;
    }
  }
}

@media (min-width: 1200px) {
  .reviews {
    width: 700px;
    margin: 0 auto;
    margin-top: 13px;
    padding-top: 156px;

    &__autor-name {
      margin-top: 16px;
      font-size: 24px;

      &--discr {
        font-size: 18px;
        margin-top: 5px;
      }
    }
  }
}
